body {
    padding-top: 180px;
}
div.head > h2{
    text-align: center;
    margin: 0;
}

div.body {
    /* 默认是100%的宽度 */
    padding: 50px 200px 50px 200px;
}

.body div{
    width: 0px;
    height: 0px;
    margin: 30px 30px 30px 30px;
    transition: height 0.5s, width 0.8s;
    transition-delay: 0.5s;
}

.full {
    height: 80px !important;
    width: 100% !important;
}

.body .first {
    background-color: red;
}
.body .second {
    background-color: blue;
}
.body .third {
    background-color: yellow;
}
/* .body .forth {
    background-color: green;
}
.body .fifth {
    background-color: goldenrod;
}
.body .sixth {
    background-color: brown;
} */





#parent2 > div:first-child{
    /* #parent2  div:first-child{ 代表#parent2下的所有:first-child */
    padding: 10px 50px ;
    background-color: #0086ff;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
}
